body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7b5c8;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

.emoji {
  font-size: 60px;
}

h2 {
  margin: 20px 0;
  font-weight: 500;
}

.buttons {
  margin-top: 20px;
}

#yes {
  background: #ff4d79;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}

#no {
  background: Gray;
  border: none;
  margin-left: 20px;
  color: black;
  cursor: pointer;
}

#msg {
  margin-top: 20px;
  color: #ff4d79;
  font-size: 18px;
}

